<!DOCTYPE html>
<html lang="en">
    <head><Title>Registro</Title>
    </head>
<body>

    <% if(locals.isLogged){ %>
        <script>  document.location.href = '/profile' </script>
        <% } else { %>

    <main>
        <div >
            <div >
                <div ><h1>Regístrate</h1> </div>
                <h3 >Al crear una cuenta con nosotros, podrás agilizar el proceso de compra,
                    guardar múltiples direcciones de envío, rastrear pedidos y más.</h3>

                <form action="/register" method="POST" enctype="multipart/form-data">
                    <div>
                        <label for="name">Nombre (s): required
                            <input 
                                type="text" 
                                id="name" 
                                name="nameUser" 
                                class="control"
                                value= "<%= locals.oldData ? oldData.nameUser : null %>"
                                required
                                >
                        </label>
                        <% if (locals.errors && errors.nameUser) {%>
                            <div class="text-danger">
                                <%= errors.nameUser.msg %>
                            </div>
                        <%} %>
                        <br><br>

                        <label for="email">Correo electrónico:
                            <input 
                            required
                                type="text" 
                                id="email" 
                                name="email" 
                                class="control "
                                value= "<%= locals.oldData ? oldData.email : null %>"
                            >
                        </label><% if (locals.errors && errors.email) {%>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <%} %><br><br>

                        
                        <label for="password">Contraseña:
                            <input required type="password" id="password" name="password" class="control">
                        </label>
                        <% if (locals.errors && errors.password) {%>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <%} %><br><br>
                        
                    </div>
                    
                
                    <div class="enviar">
                        <button type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <% } %> 
</body>
</html>
